In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('ML.Halos')
df

       x (Mpc/h)   y (Mpc/h)   z (Mpc/h)   mass (M_sun/h)
0      10.264464    1.064490   21.216145     1.204927e+13
1       6.786842    9.899183   65.984085     1.200554e+13
2       9.485045   10.957691   71.868065     1.358004e+13
3      18.058865   37.109154   58.780361     1.193993e+13
4      26.875452   21.325647   54.686840     1.255224e+13
...          ...         ...         ...              ...
1268  146.853638  148.757660  158.076218     1.183059e+13
1269  146.849335  148.190536  158.715912     1.161191e+13
1270  151.423080  154.725204  150.794647     1.517640e+13
1271  152.129974  155.056625  150.957840     4.089318e+13
1272  149.357178  158.918671  150.790298     2.366119e+13

[1273 rows x 4 columns]

In [5]:
#shows that there is no duplicate in df
df.drop_duplicates()

       x (Mpc/h)   y (Mpc/h)   z (Mpc/h)   mass (M_sun/h)
0      10.264464    1.064490   21.216145     1.204927e+13
1       6.786842    9.899183   65.984085     1.200554e+13
2       9.485045   10.957691   71.868065     1.358004e+13
3      18.058865   37.109154   58.780361     1.193993e+13
4      26.875452   21.325647   54.686840     1.255224e+13
...          ...         ...         ...              ...
1268  146.853638  148.757660  158.076218     1.183059e+13
1269  146.849335  148.190536  158.715912     1.161191e+13
1270  151.423080  154.725204  150.794647     1.517640e+13
1271  152.129974  155.056625  150.957840     4.089318e+13
1272  149.357178  158.918671  150.790298     2.366119e+13

[1273 rows x 4 columns]

In [6]:
#correlation between features
df.corr()

                 x (Mpc/h)   y (Mpc/h)   z (Mpc/h)   mass (M_sun/h)
x (Mpc/h)         1.000000    0.031018   -0.038014        -0.015986
 y (Mpc/h)        0.031018    1.000000   -0.032817        -0.016907
 z (Mpc/h)       -0.038014   -0.032817    1.000000         0.058721
 mass (M_sun/h)  -0.015986   -0.016907    0.058721         1.000000